# -*- coding: utf-8 -*-
"""
Created on Thu Oct  1 20:18:22 2020

@author: kasj
"""

.spyproject
__pycache__
tests_tutorials.py
src/Data/old_data
Figures
.virtual_documents
Models/Block_glacier_5fold/
Models/Block_glacier_5fold_more_train/
Models/Block_glacier_5fold_ann+seas/
Models/Random_5fold_ann+seas/
Models/Final_training/
Models/Random_5fold
Models/Custom_loss/
src/.ipynb_checkpoints/
src/scripts/.ipynb_checkpoints/
src/Data/oggm_data
src/Data/glacier_predictions
src/Data/ERA5-Land_mon_avg_1950_2022_Norway
src/Data/2023-08-28_stake_mb_Hydra2_corrected.xlsx
ML_MB_Norway_env.yml
ML_MB_Norway_env_nobuilds.yml
ML_MB_Norway_env_upd.yml
Old_scripts/
Old_environments/