# -*- coding: utf-8 -*-
"""
Created on Thu Oct  1 20:18:22 2020

@author: kasj
"""

.spyproject
__pycache__
tests_tutorials.py
Data/old_data
Data/data_model_comparison
Figures
.virtual_documents
Models/Block_glacier_5fold/
Models/Block_glacier_5fold_more_train/
Models/Block_glacier_5fold_ann+seas/
Models/Random_5fold_ann+seas/
Models/Final_training/
Models/Random_5fold
Models/Custom_loss/
Training_cluster
Data/oggm_data
Data/glacier_predictions